<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>

<body style="margin: 100px auto ;border: 1px solid rgba(25,25,25,0.25);padding: 20px">
    <table cellspacing="0" border="0" width="100%">
        <tr>
            <td style="font-size:0px;text-align:left" valign="top">
                <img width="40px" alt="The Dropbox logo" src="http://114.32.191.53:88/myicon.jpg">
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr style="font-size:16px;font-weight:300;color:#404040;font-family:'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;line-height:26px;text-align:left">
        <td>
            <br><br>嗨，{{ self.username }}：<br><br>感謝您註冊本網站的會員，請於註冊資料中填入以下驗證碼：<br><strong style="font-size: 20px">{{ self.confirm }}</strong><br><br>
{#            <a style="border-radius:4px;font-size:15px;color:white;text-decoration:none;padding:14px 7px 14px 7px;width:210px;max-width:210px;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Arial;margin:0;display:block;background-color:#79aec8;text-align:center" href="http://127.0.0.1:8000/user/register/" target="blank">返回輸入驗證碼</a>#}
            <br><br>
        </td>
    </tr>
    </table>

</body>

</html>